extends ../layout

block content
  #content
    section#shop-section2
      .container
        .title-section
          h1 Mis propuestas
          span
        .table-responsive.mt-4
          table.table.table-hover
            thead
              tr
                th(scope='col') #
                th(scope='col') Post 
                th(scope='col') Cliente
                th(scope='col') Monto
                th.hidden-sm.text-center Acciones
            tbody
              if(proposals=="" || proposals==undefined)
                tr
                  td(colspan="6")
                    p.text-center Aún no tiene propuestas
              else
                each p, index in proposals
                  tr
                    td #{index+1}
                    td #{p.post.title}
                    each c in clients
                      if p.post.owner.toString() == c._id.toString()
                        td #{c.profile.name}
                    td S/.#{p.price}.00
                    td.text-center
                      a.btn.btn-success(href=`/post/${p.post._id}/detalle` target='blank' ) Ver detalle