extends ../layout

block content
  #content
    section.blog-section.single2(style="margin-top:6vh")
      .blog-post.single-post
        .container
          .post-content
            h1.text-center #{post.title}
            if post.status==1
              h2.text-center CERRADO
            img.center(src=post.image && post.image!=''?post.image:'/upload/shop/9.jpg', alt="")
            .post-content-text
              p #{post.description}
          .comment-section
            h2 #{comentaries.length} Comentarios
            each commentary in comentaries
              ul.comment-tree
                li
                  .comment-box
                    .comment-content(style="margin:0")
                      h4
                        | #{commentary.owner.profile.name} Calificación: #{commentary.owner.rating}
                        if user.userType=="USER_ROLE" && post.status==0
                          a(href=`/post/aceptar-vendedor/${commentary._id}`) Aceptar
                      span #{moment(commentary.createdAt).locale('es').format('LL h:mm a')}
                      p
                        | #{commentary.content}
                      h3 
                        strong S/.#{commentary.price}.00
            if user.userType == 'SELLER_ROLE' && post.status==0
              form.comment-form(method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                h2 Deja tu propuesta en un comentario
                textarea(name='content' placeholder='Deja un descripción clara')
                input#name(name='price' type='text' oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder='Precio')
                input(type='submit' value='Dejar propuesta')